# https://spotipy.readthedocs.io/en/2.25.2/

SPOTIPY_CLIENT_ID=XXXXXXXXXXXXX
SPOTIPY_CLIENT_SECRET=XXXXXXXXXXXXX

# When you create an app, you need to specify a redirect URI. 
# This is the URI to which Spotify redirects the user after they 
# have granted or denied permission to your app. 
# Here are some examples of redirect URIs:
#     https://example.com/callback
#     http://127.0.0.1:8000/callback
#     http://[::1]:8000/callback

SPOTIPY_REDIRECT_URI=XXXXXXXXXXXXX